<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/header :: header}">
</head>
<body>
<!-- Page Content -->
<div class="container blog-content-container">

    <!-- Blog Post -->
    <div id="mainContainer" class="post-body">

        <h1 class="text-center">BBS技术分享</h1>

        <br/>

        <div class="text-right">
            <div sec:authorize="isAuthenticated()">
                <a th:href="'/u/' + ${#authentication.principal.username} + '/blogs/edit'"
                   class="btn btn-info btn-index btn-lg">
                    写分享&nbsp;
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
            </div>
        </div>

        <div id="mainContainerRepleace">
            <table class="table table-hover">
                <thead>
                <tr class="row">
                    <th class="col-6">标题</th>
                    <th class="col-1">作者</th>
                    <th class="col-2">时间</th>
                    <th class="col-1">阅读</th>
                    <th class="col-1">点赞</th>
                    <th class="col-1">评论</th>
                </tr>
                </thead>
                <tbody>
                <div th:each="blog : ${blogList}">
                    <tr class="row">
                        <td class="col-6">
                            <a href="/u/waylau/blogs/1" class="card-link" title="waylau"
                               th:href="'/u/' + ${blog.username} + '/blogs/'+ ${blog.blogId}"
                               th:title="${blog.title}" th:text="${blog.title}"> OAuth
                                2.0 认证的原理与实践 </a>
                        </td>
                        <td class="col-1">
                            <a href="/u/waylau" title="waylau"
                               th:href="'/u/' + ${blog.username}" th:title="${blog.username}">
                                <img src="/images/avatar-defualt.jpg"
                                     th:src="${blog.avatar} == null
										? '/images/avatar-defualt.jpg'
										: ${blog.avatar}"
                                     class="blog-avatar-25">
                            </a>
                        </td>
                        <td class="col-2">[[${#dates.format(blog.createTime, 'yyyy-MM-dd HH:mm')}]]</td>
                        <td  class="col-1">[[${blog.readSize}]]</td>
                        <td  class="col-1">[[${blog.voteSize}]]</td>
                        <td  class="col-1">[[${blog.commentSize}]]</td>
                    </tr>
                </div>
                </tbody>
            </table>
            <div th:replace="~{fragments/page :: page}" style="float: right;">...</div>
        </div>
    </div>


</div>
<!-- /.container -->


<div th:replace="~{fragments/footer :: footer}">...</div>

<!-- JavaScript -->
<script src="../../js/index.js" th:src="@{/js/index.js}"></script>
</body>
</html>