<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.seriouszyx.bbs.base.mapper.BlogCommentMapper" >
  <resultMap id="BaseResultMap" type="com.seriouszyx.bbs.base.domain.BlogComment" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="comment_content" property="commentContent" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <association property="user" column="uid" select="com.seriouszyx.bbs.base.mapper.UserMapper.selectByPrimaryKey" />
  </resultMap>
  <resultMap id="MgrBaseResultMap" type="com.seriouszyx.bbs.base.domain.mgr.MgrBlogComment" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="comment_content" property="commentContent" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <association property="user" column="uid" select="com.seriouszyx.bbs.base.mapper.UserMapper.selectByPrimaryKey" />
    <association property="blog" column="bid" select="com.seriouszyx.bbs.base.mapper.BlogMapper.selectSimpleInfoByPrimaryKey" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from `blog_comment`
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <delete id="deleteByBlogId">
      delete from `blog_comment`
      where bid = #{id}
    </delete>
    <insert id="insert" parameterType="com.seriouszyx.bbs.base.domain.BlogComment" useGeneratedKeys="true" keyProperty="id" >
    insert into `blog_comment` (uid, comment_content, create_time, bid
      )
    values (#{user.id,jdbcType=BIGINT}, #{commentContent,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
            #{bid,jdbcType=BIGINT}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.seriouszyx.bbs.base.domain.BlogComment" >
    update `blog_comment`
    <set>
      <if test="user != null and user.id != null">
        uid = #{user.id,jdbcType=BIGINT},
      </if>
      <if test="commentContent != null and commentContent != ''">
        comment_content = #{commentContent,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bid != null">
        bid = #{bid,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, uid, comment_content, create_time, bid
    from `blog_comment`
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByBid" resultMap="BaseResultMap">
     select id, uid, comment_content, create_time, bid
     from `blog_comment`
     where bid = #{bid}
  </select>
  <select id="selectAll" resultMap="MgrBaseResultMap">
      select id, uid, comment_content, create_time, bid
     from `blog_comment`
  </select>
</mapper>