/*!
* Override Bootstrap style.
*
* @since: 1.0.0
* @author Yixiang Zhao
*/

/*公共样式--开始*/
*{box-sizing: border-box;}
html, body {
    min-height: 100%;
}


a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
}

input, textarea {
    outline: none;
    border: none;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: ".";
    width: 0;
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
    overflow:hidden;
}

.fl {
    float: left
}

.fr {
    float: right
}

.tl {
    text-align: left;
}

.tc {
    text-align: center
}

.tr {
    text-align: right;
}

.ellipse {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.inline{
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

/* 公共样式结束 */

.badge {
  margin-left: auto; 
}

.hidden { 
	display: none !important; 
}

/*.navbar {*/
    /*height: 50px;*/
/*}*/

body {
    background: url("/images/background.png");
}

.btn-lg {
    border-radius: 5px;
    background-color: #66afe9;
    padding: 10px 16px;
    font-size: 18px;
    box-shadow: 3px 3px 3px silver;
}

.bg-custom-1 {
    background-color: #85144b;
}

.bg-custom-2 {
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

.dropdown>a {
    color: #9d9d9d;
}

.dropdown>a:hover {
    color: #ffffff;
}

.blogedit-container {
    padding: 15px;
}

.u-container {
    margin-top: 2.0em;
    margin-bottom: 20px;
}

.u-blog-container {
    padding: 15px;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.08);
    transition-duration: 0.5s;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
}

.u-blog-container:hover {
    padding: 15px;
    box-shadow: 0 10px 15px 0 rgba(0,0,0,0.18);
    transition-duration: 0.5s;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
}
